<!DOCTYPE html>
<html>
    <img id="background" src="{{ url_for('static', filename='eagle.jpg') }}">
    <head>
        <title>Ginematic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header></header>
        <img src="{{ url_for('static', filename='eagle.jpg') }}">
        <footer>
            <button type="button">Musa</button>
            <button type="button">Lisää kuva</button>
        </footer>
    </body>
</html>
